{{#if loginErr}}
<p class="error"> Invalid username or password</p>
{{/if}}

<form action="/login" method="POST">
<div class="container">
    <label for=""><b>Email</b></label>
    <br>
    <input type="text" placeholder="Enter email" name="email" required>
<br>
    <label for="Password"><b>Password</b></label>
    <br>
    <input type="password" placeholder="Enter Password" name="Password" required>
<br> <br>
    <button type="submit">Login</button>
<br>
    <label>
        <a href="/signup">
            <p>Create new account?</p>
        </a>

    </label>

</div>
</form>