<form action="/signup" method="POST">
<div class="container">
    <label for="username"><b>Username</b></label>
    <br>
    <input type="text" placeholder="Enter Username" name="username" required>
<br>
<label for="email"><b>Email</b></label>
<br>
    <input type="text" placeholder="Enter email" name="email" required>

<br>
    <label for="Password"><b>Password</b></label>
    <br>
    <input type="password" placeholder="Enter Password" name="Password" required>
<br>
    <button type="submit">SignUp</button>
    <label>
        
        <a href="/login"><p>Already have an account?</p></a>

    </label>
  </div>
  </form>